.adImagesContainer {
  position: relative;
  display: inline-block;
}

.adImagesContainer img {
  height: 100%;
}

.adImagePlaceholder {
  border-radius: var(--middle-radius);
}

.adImage {
  border-radius: var(--middle-radius);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.02);
  }
}

.arrowForward {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.arrowBack {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 0.7;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}


.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.modalContent {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  cursor: default;
}

.modalImage {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: var(--middle-radius);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: -40px;
  right: -10px;
  background: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #ddd;
  }
}

.modalArrowBack {
  position: absolute;
  left: -128px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

.modalArrowForward {
  position: absolute;
  right: -128px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}