.dropdown{
  border: 3px solid var(--blue-color);
  border-radius: var(--middle-radius);
  display: inline-block;
  position: relative;
  width: 300px;
}
.dropdownButtonClose{
  height: 55px;
  border: none;
  border-radius: var(--middle-radius);
  padding: 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}
.dropdownButtonOpen{
  height: 55px;
  border: none;
  border-radius: var(--middle-radius);
  padding: 16px;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdownArrowImg{
  transform: rotate(90deg);
  transition: transform 0.4s ease;
  transform-origin: center;
}
.dropdownArrowImgUp{
  transform: rotate(270deg);
}
.dropdownArrowImgDown{
  transform: rotate(90deg);
}
.dropdownButtonPlaceholder{
  color: var(--placeholder-color);
}
.optionsList{
  position: absolute;
  z-index: 1;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: var(--middle-radius);
  border: 3px solid var(--blue-color);

}

.filterContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 16px;
}