:root{
  --blue-color: #00AAFF;
  --text-color: #0F0400;
  --green-color: #02D15C;
  --red-color: #F2456A;
  --alternate-text-color: #FFFFFF;
  --placeholder-color: #75777D;
  --filters-color: #F2F1F0;

  --main-font: 'Manrope', sans-serif;

  --little-radius: 8px;
  --middle-radius: 16px;
  --larger-radius: 18px;

  --background-color: #FFFFFF;

  --h1-size: 64px;
  --h2-size: 32px;
  --status-size: 36px;
  --p-size: 24px;
  --placeholder-size: 20px;

  --list-item-hover-color: #F5F5F5;

  --animation-duration: 0.2s;
}