.redStatus{
  color: var(--red-color);
}
.greenStatus{
  color: var(--green-color);
}
.blueStatus{
  color: var(--blue-color);
}
.defaultStatus{
  color: var(--text-color);
}
.adStatus{
  padding-left: 40px;
  position: relative;
}
.adStatus::before{
  content: url("@/app/assets/icons/dote.svg");
  width: 22px;
  height: 22px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}